/*stylesheet*/


#wrapper {
	overflow:hidden;
}

p {
	font-size: 19px;
}

.box1 {
	float:left;
	margin:15px;
	width:350px;
	height:350px;
	background-color:#6B8E23;
	border:15px solid #F0E68C;
	border-radius:30px;
	padding:30px;
}

h1 {
	color:white;
}

#box1 {
	width:70%;
	height:70%;
	background-color:#98C1D9;
}

#box2 {
	width:70%;
	height:70%;
	background-color:#EE6C4D;
	overflow:scroll;
}
	

.box2 {
	float:left;
	margin:15px;
	width:350px;
	height:350px;
	background-color:#4169E1;
	border:15px solid #F0E68C;
	border-radius:30px;
	padding:30px;
}

.box3 {
	float:left;
	margin:15px;
	width:350px;
	height:350px;
	border:15px solid #F0E68C;
	border-radius:30px;
	padding-top:0px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:60px;
}

#searchbar {
	text-align:center;
	padding:10px;
	background-color: #F4A460;
	border:5px solid #F0E68C;
	border-radius:30px;
}

a:hover {
	color:white;
}

a:visited {
	color:purple;
}
